# SETUP:
#   sudo cp "$HOME/dotfiles/devserver/sys/etc/systemd/system/nvidia-powerlimit.service" /etc/systemd/system/
#   sudo systemctl daemon-reload
#   sudo systemctl enable nvidia-powerlimit.service
#   sudo systemctl start nvidia-powerlimit.service
#
# VERIFY:
#   nvidia-smi | grep -i power

[Unit]
Description=Set NVIDIA GPU Power Limit
Requires=nvidia-persistenced.service
After=nvidia-persistenced.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/nvidia-smi -pl 400
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target