# SETUP:
#   sudo cp "$HOME/dotfiles/devserver/sys/etc/systemd/system/nvidia-powerlimit.service" /etc/systemd/system/
#   sudo systemctl daemon-reload
#   sudo systemctl enable nvidia-powerlimit.service
#   sudo systemctl start nvidia-powerlimit.service
#
# VERIFY:
#   nvidia-smi -q -d POWER

[Unit]
Description=Set NVIDIA GPU Power Limit

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'sleep 10 && /usr/bin/nvidia-smi -pm 1 && /usr/bin/nvidia-smi -pl 400'

[Install]
WantedBy=multi-user.target
